<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  세터 기반  -->
    <bean id="member" class="com.ohgiraffers.common.MemberDTO">
        <property name="seq" value="1"/>
        <property name="name" value="서현준"/>
        <property name="phone" value="010-2222-3333"/>
        <property name="email" value="seo@naver.com"/>
        <property name="personalAccount" ref="account"/>
    </bean>

    <!--  생성자 기반  -->
    <bean id="account" class="com.ohgiraffers.common.PersonalAccount">
        <constructor-arg index="0" value="20"/>
        <constructor-arg index="1" value="110-222-583988"/>
        <!--    의존성 주입, 특정 빈을 원하는 빈에 주입하는 방법     -->

    </bean>

</beans>